@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 40.43 83.32% 92.31%;
    --foreground: 31 80% 3%;
    --muted: 14.03 23.94% 67.3%;
    --muted-foreground: 31 63.53% 25.24%;
    --popover: 31 62% 98%;
    --popover-foreground: 31 80% 2%;
    --card: 30.81 100% 98.32%;
    --card-foreground: 31 80% 2%;
    --border: 31 45.27% 69.55%;
    --input: 14.03 84.75% 76.45%;
    --primary: 15.48 35.63% 34.12%;
    --primary-foreground: 120 25% 98.43%;
    --secondary: 37.85 92.86% 72.55%;
    --secondary-foreground: 31 20% 32%;
    --accent: 176.21 45.89% 59.41%;
    --accent-foreground: 31 24.39% 24.74%;
    --destructive: 6.92 69.64% 56.08%;
    --destructive-foreground: 35.32 100% 81.71%;
    --ring: 15.48 35.63% 34.12%;
    --chart-1: 15.48 35.63% 34.12%;
    --chart-2: 37.85 92.86% 72.55%;
    --chart-3: 176.21 45.89% 59.41%;
    --chart-4: 14.03 86.52% 65.1%;
    --chart-5: 24 20% 95.1%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 31 54% 2%;
    --foreground: 31 38% 98%;
    --muted: 31 34% 6%;
    --muted-foreground: 31 7% 63%;
    --popover: 31 54% 3%;
    --popover-foreground: 31 38% 99%;
    --card: 31 54% 3%;
    --card-foreground: 31 38% 99%;
    --border: 31 15% 13%;
    --input: 31 15% 13%;
    --primary: 31 40% 66%;
    --primary-foreground: 31 40% 6%;
    --secondary: 31 9% 10%;
    --secondary-foreground: 31 9% 70%;
    --accent: 176.21 45.89% 59.41%;
    --accent-foreground: 31 24.39% 24.74%;
    --destructive: 18 100% 48%;
    --destructive-foreground: 0 0% 100%;
    --ring: 31 40% 66%;
    --chart-1: 31 40% 66%;
    --chart-2: 31 9% 10%;
    --chart-3: 31 9% 10%;
    --chart-4: 31 9% 13%;
    --chart-5: 31 43% 66%;
  }
}


@layer base {
  :root {
    --sidebar-background: 30.81 100% 98.32%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 31 45.27% 69.55%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
 
  .dark {
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}



@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
